# Theory

Python's reduce() function operates on any iterable - not just lists - and performs the following steps:

   1. <b> Apply </b> a function to the first two items in an iterable and generate a partial result
   2. <b> Use </b> that partial result, together with the third item in the iterable, to generate another partial result
   3. <b> Repeat </b> the process until the iterable is exhausted and then return a single value
   
## Syntax:
reduce(function, iterable[, initalizer])

In [1]:
#Example 1 - Adding two numbers

def add(a, b):
    result = a + b
    print(f"{a} + {b} = {result}")
    return result

In [2]:
add(5, 5)

5 + 5 = 10

10

In [3]:
from functools import reduce

In [4]:
numbers = [0, 1, 2, 3, 4]

reduce(add, numbers)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10

In [5]:
reduce(add, numbers, 100)

100 + 0 = 100
100 + 1 = 101
101 + 2 = 103
103 + 3 = 106
106 + 4 = 110

110

In [6]:
numbers = [1, 2, 3, 4]

sum_numbers = reduce(lambda a, b: a + b, numbers)

In [7]:
print(sum_numbers)

10

In [8]:
#Example 2 - Multiplying two numbers
numbers = [1, 2, 3, 4]
product_numbers = reduce(lambda a, b: a * b, numbers)

In [9]:
print(product_numbers)

24

In [10]:
#Example 3 - Finding minimum and maximum in a list of numbers

numbers = [3, 5, 2, 4, 7, 1]

minimum_value = reduce(lambda a, b: a if a < b else b, numbers)
maximum_value = reduce(lambda a, b: a if a > b else b, numbers)

In [11]:
print(minimum_value, maximum_value)

1 7

In [17]:
#Example 3 - Check if all values are True or False

numbers1 = [1, 1, 1, 1, 1, 1]
numbers2 = [1, 0, 1, 0, 1, 1]

check_if_all_true1 = reduce(lambda a, b: bool(a and b), numbers1)
check_if_all_true2 = reduce(lambda a, b: bool(a and b), numbers2)

print(check_if_all_true1)
print(check_if_all_true2)

True
False

In [18]:
#Example 4 - Checking if at least one value is True

check_if_one_is_true = reduce(lambda a, b: bool(a or b), numbers2)
print(check_if_one_is_true)

True